<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area of a Circle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header class="site-header">
        <h1 class="site-title">Welcome to my Portfolio</h1>
        <nav class="main-nav"> 
            <ul> 
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <hr class="header-divider">
    </header>

    <header class="circle-header">
        <h1> Area of a Circle</h1>
        <nav> 
            <ul> 
                <li><a href="/profile">Profile</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <form action="/works/area/areaofacircle" method="post">
            <label for="radius">Enter a value:</label>
            <input type="text" id="radius" name="inputRadius" required>
            <input type="submit" value="Calculate">
        </form>

        {% if result is not none %}
        <p>The area of the circle is: {{result}}</p>
        {% endif %}
    </header>
</body>
</html>