<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convert to Uppercase</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <header class="site-header">
        <h1 class="site-title">Welcome to my Portfolio</h1>
        <nav class="main-nav"> 
            <ul> 
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <hr class="header-divider">
    </header>

    <header class="uppercase-header">
        <h1>Convert String to Uppercase</h1>
        <form action="/works/touppercase" method="post">
            <label for="inputString">Enter a string:</label>
            <!-- id is for label while name is for flask... -->
            <input type="text" id="inputString" name="inputString" required>
            <input type="submit" value="Convert">
        </form>

        {% if result %}
        <p>Converted string: {{result}}</p>
        {% endif %}
    </header>
</body>
</html>