<!DOCTYPE html>
<html lang="en">
<head>
    <title> Works </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body> 
    <header class="site-header">
        <h1 class="site-title">Welcome to my Portfolio</h1>
        <nav class="main-nav"> 
            <ul> 
                <li><a href="/">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/works">Works</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <hr class="header-divider">
    </header>

    <header class="works-header">
        <nav>
            <ul>
                <li><a href="/works/touppercase">toUpperCase</a></li>
                <li><a href="/works/area/areaofacircle">Area of a Circle</a></li>
                <li><a href="/works/area/areaofatriangle">Area of a Triangle</a></li>
                <li><a href="/works/linkedlist">Linked List</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>